<section class="section profile">
    <div class="container-fluid flex">
        <div class="cognitive-page flex">
            <div class="text">
                <h1>CASPER</h1>
                <p class="mt-4">Cognitive Aeronautical Study &</p>
                <p>Permissible Elevation Repository</p>
            </div>
 
            <!-- forgot-password.component.html -->
            <div id="emailForm">
                <form class="forms" (ngSubmit)="sendOTP()">
                    <h2 class="mt-3">Forgot Password</h2>
                    <span>It's not long before you embark on this journey! </span>
                        <div class="input-container mt-4">
                            <input type="email" name="email" autocomplete  placeholder="Email" class="form-control"
                                [(ngModel)]="email">
                            <i class="bi bi-envelope-at-fill"></i>
                        </div>
                        <div class="link mt-2">
                            <button type="submit" class="btn btn-outline-primary btn-lg">Send OTP</button>
                        </div>
                        <hr>
                        <div class="text-center">
                            <span>Don't have an account? <a href="" routerLink="/UsersRegister"><u>Signup here</u></a></span>
                        </div>
                </form>
            </div>
 
            <div id="otpForm" style="display: none;">
                <form class="forms" (ngSubmit)="submitOTP()">
                    <h2 class="mt-3">Submit OTP</h2>
                    <span>It's not long before you embark on this journey! </span>
                    <div class="input-container mt-4">
                        <input type="text" name="otp" autocomplete  placeholder="Enter OTP" class="form-control form-control-lg"
                            [(ngModel)]="otp">
                        <i class="bi bi-key-fill"></i>
                    </div>
                    <div class="link mt-2 mb-4">
                        <button type="submit" class="btn btn-outline-primary btn-lg">Submit OTP</button>
                    </div>
                </form>
            </div>
 
            <div id="passwordForm" style="display: none;">
                <form class="forms" (ngSubmit)="submitNewPassword()">
                    <h2 class="mt-3">New Password</h2>
                    <span>It's not long before you embark on this journey! </span>
                    <div class="input-container mt-4">
                        <input type="password"  autocomplete  name="newPassword" placeholder="New Password"
                            class="form-control form-control-lg" [(ngModel)]="newPassword" (input)="validatePassword()">
                        <i class="bi bi-lock-fill"></i>
                    </div>
                    <div class="input-container mt-4">
                        <input type="password" autocomplete  name="confirmPassword" placeholder="Confirm Password"
                            class="form-control form-control-lg" [(ngModel)]="confirmPassword"
                            (input)="validatePassword()">
                        <i class="bi bi-lock-fill"></i>
                    </div>
                    <div class="link mt-2 mb-4">
                        <button [disabled]="!passwordsMatch" type="submit"
                            class="btn btn-outline-primary btn-lg">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
