
<section class="section profile">
  <div class="container-fluid">
    <div class="plans">
      <div class="plan">
        <img src="assets/icon/5.png" alt="Basic Plan Icon">
        <h2>Basic</h2>
        <p class="zoom-text" style="font-size: 10px; color: red;">3 Free Requests*</p>
        <p>₹ 995 + GST</p>
        <ul class="text-center">
          <li>Total No. of Requests: 10</li>
          <li>Support Session (10 min): 1</li>
          <li>SME Consultation (15 min): 1</li>
          <li>Plan Validity: 1 month</li>
        </ul>
        <div class="d-grid">
          <button type="button" class="btn btn-outline-primary" (click)="handlePayment('Basic', 995)">Buy Now</button>
        </div>
      </div>

      <div class="plan">
        <img src="assets/icon/6.png" alt="Advance Plan Icon">
        <h2>Advance</h2>
        <p>₹ 1998 + GST</p>
        <ul class="text-center">
          <li>Total No. of Requests: 15</li>
          <li>Support Session (10 min): 3</li>
          <li>SME Consultation (15 min): 3</li>
          <li>Plan Validity: 3 months</li>
        </ul>
        <div class="d-grid">
          <button type="button" class="btn btn-outline-primary" (click)="handlePayment('Advance', 1998)">Buy Now</button>
        </div>
      </div>

      <div class="plan">
        <img src="assets/icon/7.png" alt="Premium Plan Icon">
        <h2>Premium</h2>
        <p>₹ 2997 + GST</p>
        <ul class="text-center">
          <li>Total No. of Requests: 20</li>
          <li>Support Session (10 min): 5</li>
          <li>SME Consultation (15 min): 5</li>
          <li>Plan Validity: 5 months</li>
        </ul>
        <div class="d-grid">
          <button type="button" class="btn btn-outline-primary" (click)="handlePayment('Premium', 2997)">Buy Now</button>
        </div>
      </div>

      <div *ngIf="transactionId">
        <p>Payment was successful. If you want to see payment details, please <a [href]="'/subscription-details/' + transactionId">click here</a>.</p>
      </div>
    </div>
  </div>
</section>
